<!DOCTYPE HTML>
<head>
    <title>Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/blogForm.css">
    <script src="/js/blog.js"></script>
</head>
<body>
    <div>
        <p>Enter a number from 1 to 3</p>
        <form method="post">
            <input type="text" name="uInput" placeholder="Enter a number"/>
            <button type="submit">Fire</button>
        </form>
    </div>
    <br/>
    <div>{{uInput}}</div>
</body>
</html>